body, html {
    height: 100%;
    margin: 0;
    font-family: "Helvetica";
    color: #777;
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }

  /*About Me*/
  .bgimg-1 {
    background-image: url("glacier 1 trans.png");
    min-height: 100%;
  }
  
  /*Hawaii Missile Redesign*/
  .bgimg-2 {
    background-image: url("hawaii_missile_trans.png");
    min-height: 450px;
  }
  
  .bgimg-3 {
    background-image: url("webreg_trans.png");
    min-height: 450px;
  }

  .bgimg-4 {
    background-image: url("zotmates_trans.png");
    min-height: 450px;
  }

  .bgimg-5 {
    background-image: url("omnimart_trans.png");
    min-height: 450px;
  }

  .bgimg-6 {
    background-image: url("rhythm_heaven_fever_trans.png");
    min-height: 450px;
  }

  .bgimg-7 {
    background-image: url("hypixel_trans.png");
    min-height: 450px;
  }
  
  .caption {
    position: absolute;
    left: 10%;
    top: 15%;
    width: 65%;
    text-align: left;
    color: #000;
  }
  
  .caption .border {
    background-color: #fff9ed;
    color: #000000;
    padding-left: 60px;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-right: 50px;
    letter-spacing: 4px;
    border-radius: 5px 5px 5px;
  }

  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7{
      background-attachment: scroll;
      
    }
    .caption {
        position: absolute;
        left: 10%;
        top: 15%;
        width: 90%;
        text-align: left;
        color: #000;
      }
  }

  .navbar{
    margin-bottom: 0px !important;
    min-height: 45px;
    background-color: #212B2D !important;
  }

  .navbar a{
    font-size: 18px !important;
    padding: 10px !important;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
  }



  @media only screen and (min-width: 960px) 
  {
    
    .navbar .navbar-nav .nav-item:not(:last-child) {

      border-right: 2px solid #FFF;
      
    }
    .about_me_text {
      width: 100%;
    }

    .right_image {
      width: 100%;
    }

    #me_pic
    {
      height: 200px;
      width: auto;
    }
  }


  .about_me_text {
    font-family: 'Roboto Condensed', sans-serif; 
    float: left;
    width: 70%;
  }

  .right_image {
    float: right; 
    width: 20%; 
    margin-right: 70px; 
    margin-bottom: 30px;
  }

  .anchor{
    position: absolute;
    transform: translateY(-50vh);
  }

  .more_info_btn {
    position: absolute;
    bottom: 2%;
    right: 0%;
    background-color: #FFF2DE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Roboto Condensed", sans-serif;
    color: #394A4D;
    font-size: 48px;
    border-radius: 20px;
    border: none;
  }